<ul>
    <li>
        <NavLink href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li>
        <NavLink href="/new-Bug">
            New Bug
        </NavLink>
    </li>
</ul>
