@page "/new-bug"

<h3>Add New Bug</h3>
<EditForm Model="AddBug">
    <InputText @bind-value="@AddBug.Title" placeholder="Enter Title" />
    <InputText @bind-value="@AddBug.Description" placeholder="Enter Description" />
    <InputNumber @bind-value="@AddBug.Priority" placeholder="Enter Priority" TValue="int" />

    <button type="submit">Add Bug</button>
</EditForm>
@code {
    public Bug AddBug { get; set; } = new Bug();
}
