@if (Bugs.Count > 0)
{
    <h2>All Bugs</h2>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Priority</th>
            </tr>
        </thead>
        @foreach (var bug in Bugs)
        {
            <tr>
                <td>@bug.Title</td>
                <td>@bug.Description</td>
                <td>@bug.Priority</td>
            </tr>
        }
    </table>
}

@code {
    [Inject]
    public IBugService BugService { get; set; }

    public List<Bug> Bugs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Bugs = BugService.GetBugs();
    }
}
